{% extends 'base.html' %}

{% block title %}Lista de  Usuarios{% endblock title %}
{% block subtitle %}Lista de Usuarios{% endblock %}

{% block content %}
    <form class="navbar-form navbar-right" action="." method="get">
        <!-- add -->
        <a href="{% url 'core:customer_add' %}">
            <button id="new_customer" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Adicionar
            </button>
        </a>
        <!-- search form -->
        <input id="search_box" name="search_box" type="text" placeholder="Localizar..." class="form-control">
        <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
	</form>
	{% if object_list %}
		<div>
			<table class="table">
				<thead>
					<tr>
						<th class="text-center">Nome</th>
						<th class="text-center">CPF</th>
						<th class="text-center">Email</th>
						<th class="text-center">Fone</th>
						<th class="text-center">Nascimento</th>
						<!-- <th>Idade</th> -->
						<th class="text-center">Compras</th>
					</tr>
				</thead>
				<tbody>
				{% for customer in object_list %}
					<tr>
						<td class="text-center"><a href="{{ User.get_User_url }}">{{ customer.nome_cad }}</a></td>
						<td class="text-center">{{ customer.cgc_cpf_cad }}</td>
						<td class="text-center">{{ customer.email_cad }}</td>
						<td class="text-center">{{ customer.telefone1_cad }}</td>
						<td class="text-center">{{ customer.aniversario_cad|date:"d/m/Y" }}</td>
						<td class="text-center"><a href="{{ customer.get_sale_customer_url }}">{{ customer.get_sales_count }}</a></td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
{% else %}
  <p class="alert alert-warning">Sem itens na lista.</p>
{% endif %}

<hr>
<div>
<h3>{{ object_list|length }} cliente{{ object_list|length|pluralize }}</h3>
<h4><b>Total:</b> {{ page_obj.paginator.count }} cliente{{ page_obj.paginator.count|pluralize }}</h4>
</div>

{% if object_list %}
  <!-- pagination -->
  {% include "_pagination.html" %}
{% endif %}

{% endblock content %}