{% block css %}
<style type="text/css">
.menu,
.sub-menu {
    margin: 0;
    padding: 0;
    display: block;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}

.menu li {
    position: relative;
}
.menu > li {
    float: left;
}

.menu li:hover > .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    min-width: 150px;
}

.sub-menu .sub-menu {
    top: 0;
    left: 100%;
}
</style>
{% endblock css %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'core:home' %}" title="Clique para ir para a página inicial">WebEnterprise</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav menu clearfix">
<!-- ARQUIVOS INÍCIO -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Arquivos <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="#">Manutenção de Produtos</a></li>
            <li><a href="#">Manutenção dos Lotes de Produtos</a></li> 
            <li><a href="#">Manutenção de Composição</a></li> 
            <li><a href="#">Manutenção dos Códigos Tributários</a></li>              
            <li><a href="#">Produtos Tabelados ou com Substituição Tributária</a></li>
            <li><a href="#">Descrições para Lotes de Produtos</a></li>
            <li><a href="http://127.0.0.1:8000/admin/core/tipopro/">Tipos de Produtos</a></li>
            <li><a href="http://127.0.0.1:8000/admin/core/grupopro/">Grupos de Produtos</a></li>
            <li><a href="#">Unidades Padrões de Produtos</a></li>
            <li><a href="#">Manutenção de Produtos Similares</a></li>
            <li><a href="#">Parâmetros do Estoque</a></li>
          </ul>
        </li>
<!-- ARQUIVOS FIM -->
<!-- MOVIMENTOS INÍCIO -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimentos <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="#">Alteração Automática dos Preços de Venda</a></li> 
            <li><a href="#">Manutenção de Movimentos</a></li> 
            <li><a href="#">Cálculo do Mínimo Automático</a></li> 
            <li><a href="#">Aceite de Transferências de Movimentos</a></li> 
            <li><a href="#">Replicação Entre Setores</a></li> 
            <li><a href="#">Alteração Manual dos Preços de Venda</a></li> 
            <li><a href="#">Exclusão Automática de Registros</a></li> 
            <li><a href="#">Alteração Automática de Produtos</a></li> 
            <li><a href="#">Manutenção de Localizações e Validades</a></li> 
            <li><a href="#">Baixa de Sucatas</a></li> 
          </ul>
        </li>
<!-- MOVIMENTOS FIM -->
<!-- CONSULTAS INÍCIO -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consultas <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="#">Consulta de Movimentos</a></li> 
            <li><a href="#">Consulta pela Descrição de Produtos</a></li> 
            <li><a href="#">Consulta de Lotes de Produtos</a></li> 
            <li><a href="#">Consulta de Composições</a></li> 
            <li><a href="#">Consulta pelo Descritivo da Tributação</a></li> 
            <li><a href="#">Consulta de Substituição Tributária</a></li> 
            <li><a href="#">Consulta pela Descrição de Lotes</a></li> 
            <li><a href="#">Consulta pela Descrição de Tipos</a></li> 
            <li><a href="#">Consulta pela Descrição de Grupos</a></li> 
            <li><a href="#">Consulta pela Descrição de Unidades</a></li> 
            <li><a href="#">Consulta pela Sigla de Fábrica</a></li> 
            <li><a href="#">Consulta de Produtos Similares</a></li> 
          </ul>
        </li>
<!-- CONSULTAS FIM -->
<!-- RELATÓRIOS-1 INÍCIO -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios-1 <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="#">Lista de Preços</a></li> 
            <li><a href="#">Registro de Inventário</a></li> 
            <li><a href="#">Impressão de Lotes de Produtos</a></li> 
            <li><a href="#">Demonstrativo de Consumo de Materiais</a></li> 
            <li><a href="#">Relatório das Movimentações de Produtos</a></li> 
            <li><a href="#">Resumo de Movimentos por Produto</a></li> 
            <li><a href="#">Impressão da Composição do Produto</a></li> 
            <li><a href="#">Impressão de Etiquetas Código de Barras</a></li> 
            <li><a href="#">Pequenas Etiquetas de Produtos</a></li> 
            <li><a href="#">Etiquetas de Produtos para Gôndolas</a></li> 
          </ul>
        </li>
<!-- RELATÓRIOS-1 FIM -->    
<!-- RELATÓRIOS-2 INÍCIO -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios-2 <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="#">Apuração do Resultado dos Produtos</a></li> 
            <li><a href="#">Saídas por Produtos + Grupos</a></li> 
            <li><a href="#">Relação de Produtos de Pouco Giro</a></li> 
            <li><a href="#">Estatística de Vendas por Tipo de Produtos</a></li> 
            <li><a href="#">Resumo de Saídas/Entradas de Produtos</a></li> 
            <li><a href="#">Relação de Estoque dos Produtos</a></li> 
            <li><a href="#">Resumo Comparativo entre Setores</a></li> 
            <li><a href="#">Impressão de Etiquetas Para Produção</a></li> 
            <li><a href="#">Relação de Validade de Produtos</a></li> 
            <li><a href="#">Histórico de Sucatas</a></li> 
          </ul>
        </li>
<!-- RELATÓRIOS-2 FIM -->  
<!-- FERRAMENTAS INÍCIO -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ferramentas <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="#">Importações <i class="fa fa-caret-right" aria-hidden="true"></i></a>
              <ul class="dropdown-menu sub-menu">
                <li><a href="#">Importar Produtos</a></li>
                <li><a href="#">Importar Composições</a></li>
                <li><a href="#">Importar Movimentos de Produtos</a></li>
                <li><a href="#">Importar Produtos SIMP_ANP</a></li>
              </ul>
            </li> 
            <li><a href="#">Exporta para Balança Filizola/Toledo</a></li> 
            <li><a href="#">Consertas <i class="fa fa-caret-right" aria-hidden="true"></i></a>
              <ul class="dropdown-menu sub-menu">
                <li><a href="#">Conserta Custa Médio do Produto</a></li>
                <li><a href="#">Conserta Código de Barras</a></li>
                <li><a href="#">Conserta o Arquivo de Estática do Produto (MovPro)</a></li>
                <li><a href="#">Recupera Preços nos Produtos</a></li>
                <li><a href="#">Ajuste de Estoque pelo NCM</a></li>
              </ul>
            </li> 
            <li><a href="#">Gerador de Disquetes para EAN Brasil</a></li> 
            <li><a href="#">Atualizar Produtos e Setores</a></li> 
            <li><a href="#">Aglutinação de Quantidades</a></li> 
            <li><a href="#">Exportar <i class="fa fa-caret-right" aria-hidden="true"></i></a>
              <ul class="dropdown-menu sub-menu">
                <li><a href="#">Exportar Tabelas</a></li>
                <li><a href="#">Exportar TXT para BOSCH</a></li>
              </ul>
            </li> 
            <li><a href="#">Recalcula Estoque Atual</a></li> 
          </ul>
        </li>
<!-- FERRAMENTAS FIM -->    
        <li><a href="#">Ajuda <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="" data-toggle="modal" data-target="#ModalSobreSistema">Sobre o Sistema</a></li>
            <li><a href="http://www.cecotein.com.br/Cecotein/" target="_blank" rel="noopener noreferrer">Home Page</a></li>
          </ul>
        </li>                                       
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'dashboard' %}" title="Clique para ir para área do usuário">Olá, {{ request.user.first_name }}!</a></li>
        {% else %}
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-exclamation-sign"></span> Login</a></li>
        {% endif %}
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>
