{% block css %}
<style type="text/css">
.menu,
.sub-menu {
    margin: 0;
    padding: 0;
    display: block;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}

.menu li {
    position: relative;
}
.menu > li {
    float: left;
}

.menu li:hover > .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    min-width: 150px;
}

.sub-menu .sub-menu {
    top: 0;
    left: 100%;
}
</style>
{% endblock css %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'core:home' %}" title="Clique para ir para a página inicial">WebEnterprise</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav menu clearfix">
<!-- ARQUIVOS INÍCIO -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Arquivos <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu sub-menu">

            <li><a href="#">manutenção de titulos</a></li>
            <li><a href="#">Contas bancarias </a></li>
            <li><a href="#">tabelas de despesas fixas </a></li>
            <li><a href="#">relacionamentos do Gerador da Contabilidade  </a></li>
            <li><a href="#">Manutenção de contratos</a></li>
            <li><a href="#">Manutenção de de Especie de Titulos </a></li>
            <li><a href="#">Parametros  do Financeiro</a></li>
          </ul>
        </li>
<!-- ARQUIVOS FIM -->
<!-- MOVIMENTOS INÍCIO -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimentos <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="#">Baixa por numeros e Titulos </a></li> 
            <li><a href="#">Manutenção de Titulos de Cadastro</a></li> 
            <li><a href="#">Manutenção de Titulos pelo vencimentos</a></li> 
            <li><a href="#">Movimentações bancarias </a></li> 
            <li><a href="#">Agrupamentos de Titulos </a></li> 
            <li><a href="#">Alteração Manual dos Preços de Venda</a></li> 
            <li><a href="#">Exclusão Automática de Registros</a></li> 
            <li><a href="#">Alteração Automática de Titulos </a></li> 
            <li><a href="#"> Gerador de lançamentos na Contabilidade  </a></li> 
            <li><a href="#">Controle + liberação de Clientes  </a></li> 
          </ul>
        </li>
<!-- MOVIMENTOS FIM -->
<!-- CONSULTAS INÍCIO -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consultas <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="#">Consulta de Titulos</a></li> 
            <li><a href="#">Consulta de movimentos Bancarias</a></li> 
            <li><a href="#">>Consulta de  Contas Bancarias </a></li> 
            <li><a href="#">Consulta de Instituições Financeira</a></li> 
            <li><a href="#">Consulta pelo Descritivo da Tributação</a></li> 
            <li><a href="#">Grafico de Acompanhamento de inadimplencia </a></li> 
            <li><a href="#">Grafico gerencial  de Receitas x Despesas </a></li> 
            <li><a href="#">Consulta de espécies</a></li> 
          </ul>
        </li>
<!-- CONSULTAS FIM -->
<!-- RELATÓRIOS-1 INÍCIO -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios-1 <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="#">Relação de  TItulos a pagar e receber</a></li> 
            <li><a href="#">Demonstracao de movimentos</a></li> 
            <li><ul class="dropdown-menu sub-menu">Relação de baixas
              <li><a href="#">Consolidaçao</a></li>
              <li><a href="#">por Cadastro</a></li>
               <li><a href="#">por emissao</a></li>
              </ul> 
            </li>
            <li><a href="{% url 'core:Imprime_mov_caixa' %}">Impressão de movimento de caixa </a></li>
            <li><a href="#">Emissão de estratos</a></li> 
            <li><a href="#">Emissão de Cheques e Baixa Automatica</a></li> 
            <li><a href="#">Relação de cheques Emitidos</a></li> 
            <li><a href="#">Impressão de Boletos Bancarios </a></li> 
            <li><a href="#">Relação de Titulos por Clientes  </a></li> 
            <li><a href="#">Previsão financeira </a></li> 
          </ul>
        </li>
<!-- RELATÓRIOS-1 FIM -->    
<!-- RELATÓRIOS-2 INÍCIO -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios-2 <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="#">Visibilidade Sintética </a></li> 
            <li><a href="#">Visibilidade por Interligação  de Receitas </a></li> 
            <li><a href="#">Relação  para cobradores </a></li> 
            <li><a href="#">Lista de Gerenciamentos do Gerador da Contabilidade</a></li> 
            <li><a href="#">Visibilidade por Niveis de Conta </a></li> 
            <li><a href="#">planilha de acompamentos de Titulos </a></li> 
            <li><a href="#">caixa sinteticos </a></li> 
            <li><a href="#">Gerador de boleto automatico</a></li> 
            <li><a href="#">Caixa Geral</a></li> 
            <li><a href="#">Relações de comissões de Bando</a></li> 
          </ul>
        </li>
<!-- RELATÓRIOS-2 FIM -->  
<!-- FERRAMENTAS INÍCIO -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ferramentas <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="#">Importações <i class="fa fa-caret-right" aria-hidden="true"></i></a>
              <ul class="dropdown-menu sub-menu">
                <li><ul class="dropdown-menu sub-menu"><a>Exportar/importar Titulos Bancarios
                </a> 
                  <li><a href="#">Exportar Titulos Bancarios</a></li>
                  <li><a href="#">Importar Titulos Bancarios </a></li>
                  </ul>
                </li>
                <li><a href="#">Correçoes do Si</a></li>
          </ul>
        </li>
<!-- FERRAMENTAS FIM -->    
        <li><a href="#">Ajuda <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu sub-menu">
            <li><a href="" data-toggle="modal" data-target="#ModalSobreSistema">Sobre o Sistema</a></li>
            <li><a href="http://www.cecotein.com.br/Cecotein/" target="_blank" rel="noopener noreferrer">Home Page</a></li>
          </ul>
        </li>                                       
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'dashboard' %}" title="Clique para ir para área do usuário">Olá, {{ request.user.first_name }}!</a></li>
        {% else %}
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-exclamation-sign"></span> Login</a></li>
        {% endif %}
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>
