{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Alteração de senha{% endblock %}
{% block subtitle %}Alteração de senha{% endblock %}

{% block content %}
	<div class="row align-items-center">
		<div class="col-md-4">
		</div>
		<div class="col-md-5">
			<h4>Use o formulário abaixo para alterar sua senha.</h4>
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
			<form method="post">
				{% csrf_token %}
				{{ form|crispy }}
				<p><input type="submit" class="btn btn-primary" value="Alterar" title="Clique para alterar a senha"></p>
			</form>
		</div>
	</div>
{% endblock %}
