{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Registrar nova senha{% endblock %}
{% block subtitle %}Registrar nova senha{% endblock %}

{% block content %}
	<div class="row align-items-center">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
			{% if validlink %}
				<h4>Por favor, insira a nova senha e a repita:</h4>
				<form method="post">
					{{ form|crispy }}
					{% csrf_token %}
					<p><input type="submit" class="btn btn-primary" value="Registrar nova senha" title="Clique para registrar a nova senha"></p>
				</form>
			{% else %}
				<h4>O endereço solicitado para registrar uma nova senha é inválido.</h4>
				<h5>Provavelmente já foi ultilizado anteriormente. Por favor, solicite novamente o registro de uma nova senha</h5>
			{% endif %}
		</div>
	</div>
{% endblock %}
