<form name="ImportaProduto" method="POST" id="nomeproduto" action="#"> {% csrf_token %}
  <div class="modal fade" id="ModalListaProdutos" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header">
          <h3 class="modal-title" id="TituloModalCentralizado">lista de produtos</h3>
          <button type="button" class="close" id="fechar-modal" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Fim header -->
        <!-- Inicio da grade -->
        <div class="modal-body">
          <!-- search form -->
        <input id="search-box-produto" name="search_box" type="text" placeholder="Localizar..." class="form-control" title="Filtrar as vendas realizadas pelo nome do produto" autocomplete="off">  
       <button type="button" id="btn_importar_produto" class="btn btn-primary" data-dismiss="modal">Escolher produto</button>
          <!-- Grade dentro do modal -->
            <table class="table" id="tabela-produto">            
          <thead>
              <tr>
                <td></td>                
                <th>Descrição</th>
              </tr>
            </thead>            
            <tbody>
              {% for produto in produtos %}
              <tr>
                <td><input type="radio"  class="radioBtnClassProduto" name="produto_choice_venda_form" id="{{ produto }}" value="{{ produto.pk }}-{{ produto }}-{{ produto.get_valor }}-{{produto.image_url}}"></td>
                <td><label for="{{ condicao }}" id="labelEspecie">{{produto.descricao_pro}} </label></td>  
                <td>{{produto.get_valor}}<td>
              </tr>            
              {% endfor %}
            </tbody>
          </table>
          <!-- Fim da grade -->
        </div>
        <!-- Fim da grade -->
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        </div>
        <!-- Fim footer -->
      </div>
    </div>
  </div>
</form>
