{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Alterar registro de conta{% endblock %}
{% block subtitle %}Alterar registro de conta{% endblock %}

{% block content %}
    <br>
	<div class="row align-items-center">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-6">
			<h4>Você pode alterar sua conta usando o formulário a seguir:</h4>
			{% include 'messages.html' %}
		</div>
	</div>
	<br>
	<div class="row align-items-center">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-6">
			<form method="post" enctype="multipart/form-data">
				{{ user_form|crispy }}
				{{ img_form|crispy }}
				{% csrf_token %}
				<p><input type="submit" class="btn btn-primary" value="Salvar alterações" title="Clique para salvar as alterações realizadas no perfil"></p>
				<p><input class="btn btn-primary" value="Tirar Foto" onclick="window.open(`{% url 'camera' %}`)"></p>
			</form>
		</div>
	</div>
{% endblock %}